/* Background */
    body {
        background-image: url("/images/dirt wallpaper.jpg");
        background-color: white;
    }
    eag1-8 {
        background-color: blue;
        width: 100px;
        height: 100px;
    
    }