/* Background */
    body {
        background-image: url("/images/dirt wallpaper.jpg");
        background-color: white;
    }
    eag1-8 {
        background-color: blue;
        padding-left: 1in;
        padding-right: 1in;
        padding-top: 1in;
        padding-bottom: 1in;
    }